body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #333;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  a{
    text-decoration: none;
    color: #555;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
  }
  img{
    width: 480px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
  }
  
  input:focus {
    border-color: #555;
  }
  
  button {
    background-color: #555;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #333;
  }

  /* Modal básico */
.modal {
  display: none; /* Escondido por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.cerrar-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

#formCrearCuenta input, #formCrearCuenta button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#formCrearCuenta button {
  background-color: #555;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
