body {
	background-color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}

header {
  background-color: #545454;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header a {
  flex-shrink: 0; 
}

.login {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    color: #d9d9d9;
    font-weight: bold;
    text-decoration: none;
}
  
.login img {
    height: 30px;
    width: auto;
}
  
#usuarioNombre {
    font-size: 15px;
    color: #d9d9d9;
}


.logo {
  margin-right: auto;
}

.logo img {
  height: 70px;
}

.traducir img {
  height: 35px;
  width: auto;
}
.agrandar img{
  height: 35px;
  margin-right: 4px;
}

body.modo-grande {
  font-size: 20px;
}

body.modo-grande header .agrandar img {
  content: url("../../IMAGENES/INDEX/HEADER/normal.png");
}

.lector-button {
  position: fixed;
  bottom: 150px;
  right: 30px;
  z-index: 1000;
  background-color: #adadad;
  border-radius: 50%;
  padding: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.lector-button img {
  width: 30px;
}

nav#menu{
	background-color: #d9d9d9;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 0px;
}
nav#menu a:hover 
{
	background-color:#545454;
	margin-left: 15px;
	margin-right: 15px;	
}

nav ul {
	background-color: #d9d9d9;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav li {
	background-color: #d9d9d9;
    margin-left: 15px;
	margin-right: 15px;    
}

nav li:hover {
	background-color: #545454;  
}

nav a {
    color: black;
    text-decoration: none;
    padding: 8px 0;             
    display: inline-block;  
}

nav a:hover {
    color: white; 
}


footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    margin-top: 40px;
}

#wsplink {
    text-decoration: none;
    color: white;
}

.reviews-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .review-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
  }

  .review-form textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  

  .review-form input,
  .review-form select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
  }
  
  .review-form button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .review-form button:hover {
    background-color: #333;
  }
  
  .review-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
  .rating-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
/*carrito*/
.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden; 
  opacity: 0; 
  transition: visibility 0s, opacity 0.3s ease; 
}


.cart-modal.activo {
  visibility: visible;
  opacity: 1;
}

.cart-modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.cerrar-carrito {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
#cart-items {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto; 
}

.carrito-item {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  gap: 10px;
}

.carrito-imagen {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.carrito-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.eliminar-item {
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagar-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.pagar-btn {
  background-color: black;
  color: white;
}

.boton-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.boton-whatsapp:hover {
  transform: scale(1.1);
}

/*chat*/
.chatbot-button {
  position: fixed;
  bottom: 90px;
  right: 25px;
  z-index: 1000;
  background-color: #545454;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.chatbot-button img {
  width: 40px;
}

.chatbox {
  position: fixed;
  bottom: 90px;
  right: 80px;
  width: 320px;
  background-color: #eee;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: none;
  flex-direction: column;
  overflow: hidden;
  z-index: 999;
  
}

.chatbox-header {
  background-color: #444;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chatbox-header img {
  width: 20px;
  margin-right: 8px;
}

.close-chat {
  margin-left: auto;
  cursor: pointer;
  color: #bbb;
}

.close-chat:hover {
  color: #fff;
}

.chatbox-messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.bot-message, .user-message {
  max-width: 80%;
  padding: 10px;
  border-radius: 15px;
}

.bot-message {
  background-color: white;
  align-self: flex-start;
}

.user-message {
  background-color: #ddd;
  align-self: flex-end;
}

.chatbox-options {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: transparent;
  flex-wrap: wrap;
}

.chatbox-options button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbox-options button:hover {
  background-color: #333;
}
